In [17]:
import pandas as pd
def apply_2(df_train,df_test,f,args):
    return(f(df_train,args),f(df_test,args))

def apply_3(df_train,df_valid,df_test,f,args):
    return(f(df_train,args),f(df_valid,args),f(df_test,args))

In [48]:
df_train =pd.DataFrame([[1,2,'a'],['3','4','b']])
df_test = pd.DataFrame([[5,6,'c'],[7,8,'d']])

def set_columns(df,args):
    df.columns = args
    return(df)
X,Y=apply_2(df_train,df_test,set_columns_2,args=['C1','C2','C3'])
X

  C1 C2 C3
0  1  2  a
1  3  4  b

In [49]:
def del_columns(df,args):
    return(df.drop(args,axis=1))
X,Y=apply_2(df_train,df_test,del_columns_2,args=['C3'])

In [50]:
def assign(df,args): #['colname',g]
    colname=args[0]
    g=args[1]
    df[colname]=df['C1'].apply(g)
    return(df)
g=lambda x: x*2
X,Y=apply_2(df_train,df_test,assign_2,args=['C4',g])

In [51]:
Y

   C1  C2 C3  C4
0   5   6  c  10
1   7   8  d  14

In [3]:
import numpy as np
a = np.arange(12).reshape(4,3)
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [4]:
a.sum(axis=0) # sum over columns

array([18, 22, 26])