In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
pd.__version__ # get the version of pandas

u'0.18.0'

In [3]:
df_raw=pd.read_csv('/Users/francois-guillaume.rideau/Documents/Kaggle/Kaggle-SF/train.csv')
df_test_raw=pd.read_csv('/Users/francois-guillaume.rideau/Documents/Kaggle/Kaggle-SF/test.csv')

In [4]:
print(df_raw.shape)
print(df_test_raw.shape)
Nobs_train_raw = df_raw.shape[0]
Nobs_train_raw
df_raw['Id']=range(Nobs_train_raw)
df_raw

(878049, 9)
(884262, 7)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Id
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,1
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,3
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,4
5,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431,5
6,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,INGLESIDE,NONE,AVALON AV / PERU AV,-122.423327,37.725138,6
7,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,BAYVIEW,NONE,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564,7
8,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601,8
9,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,9
10,2015-05-13 22:58:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,10
11,2015-05-13 22:30:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,0 Block of ESCOLTA WY,-122.487983,37.737667,11
12,2015-05-13 22:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Wednesday,TENDERLOIN,NONE,TURK ST / JONES ST,-122.412414,37.783004,12
13,2015-05-13 22:06:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / GEARY BL,-122.432915,37.784353,13
14,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,200 Block of WILLIAMS AV,-122.397744,37.729935,14
15,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,0 Block of MENDELL ST,-122.383692,37.743189,15
16,2015-05-13 22:00:00,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Wednesday,TENDERLOIN,NONE,EDDY ST / JONES ST,-122.412597,37.783932,16
17,2015-05-13 21:55:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Wednesday,INGLESIDE,NONE,GODEUS ST / MISSION ST,-122.421682,37.742822,17
18,2015-05-13 21:40:00,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,BAYVIEW,"ARREST, BOOKED",MENDELL ST / HUDSON AV,-122.386401,37.738983,18
19,2015-05-13 21:30:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,19
20,2015-05-13 21:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,200 Block of EVELYN WY,-122.449389,37.742669,20
21,2015-05-13 21:17:00,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,INGLESIDE,NONE,1600 Block of VALENCIA ST,-122.420272,37.747332,21
22,2015-05-13 21:11:00,WARRANTS,WARRANT ARREST,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,22
23,2015-05-13 21:11:00,NON-CRIMINAL,"STAY AWAY OR COURT ORDER, NON-DV RELATED",Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,23
24,2015-05-13 21:10:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / LOMBARD ST,-122.436049,37.799841,24
25,2015-05-13 21:00:00,NON-CRIMINAL,LOST PROPERTY,Wednesday,TENDERLOIN,NONE,300 Block of OFARRELL ST,-122.410509,37.786043,25
26,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,2000 Block of BUSH ST,-122.431018,37.787388,26
27,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,500 Block of COLLEGE AV,-122.423656,37.732556,27
28,2015-05-13 21:00:00,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Wednesday,TARAVAL,NONE,19TH AV / SANTIAGO ST,-122.475773,37.744919,28
29,2015-05-13 20:56:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,2000 Block of 41ST AV,-122.499787,37.748518,29
...,...,...,...,...,...,...,...,...,...,...
878019,2003-01-06 02:37:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,SOUTHERN,"ARREST, CITED",6TH ST / MARKET ST,-122.410294,37.782231,878019
878020,2003-01-06 02:32:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,NORTHERN,"ARREST, CITED",VAN NESS AV / TURK ST,-122.420642,37.781961,878020
878021,2003-01-06 02:24:00,VANDALISM,MALICIOUS MISCHIEF,Monday,NORTHERN,NOT PROSECUTED,SANCHEZ ST / 14TH ST,-122.431191,37.767595,878021
878022,2003-01-06 02:16:00,VEHICLE THEFT,RECOVERED VEHICLE - STOLEN OUTSIDE SF,Monday,MISSION,NONE,17TH ST / MISSION ST,-122.419516,37.763429,878022
878023,2003-01-06 02:15:00,LARCENY/THEFT,GRAND THEFT PICKPOCKET,Monday,TENDERLOIN,NONE,600 Block of ELLIS ST,-122.416894,37.784286,878023
878024,2003-01-06 02:09:00,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Monday,PARK,"ARREST, CITED",600 Block of DIVISADERO ST,-122.437781,37.775483,878024
878025,2003-01-06 02:06:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,878025
878026,2003-01-06 02:06:00,WARRANTS,WARRANT ARREST,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,878026
878027,2003-01-06 02:00:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,-122.409708,37.782828,878027
878028,2003-01-06 02:00:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Monday,SOUTHERN,NONE,6TH ST / MARKET ST,-122.410294,37.782231,878028
878029,2003-01-06 01:54:00,OTHER OFFENSES,PROBATION VIOLATION,Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,878029
878030,2003-01-06 01:54:00,SEX OFFENSES FORCIBLE,"FORCIBLE RAPE, BODILY FORCE",Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,878030
878031,2003-01-06 01:50:00,ASSAULT,BATTERY,Monday,BAYVIEW,NONE,3RD ST / NEWCOMB AV,-122.390417,37.735593,878031
878032,2003-01-06 01:36:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",GEARY BL / FRANKLIN ST,-122.423031,37.785482,878032
878033,2003-01-06 01:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,878033
878034,2003-01-06 01:30:00,TRESPASS,TRESPASSING,Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,878034
878035,2003-01-06 00:55:00,ASSAULT,BATTERY,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,878035
878036,2003-01-06 00:55:00,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,878036
878037,2003-01-06 00:55:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,878037
878038,2003-01-06 00:42:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,TENDERLOIN,"ARREST, BOOKED",TAYLOR ST / GEARY ST,-122.411519,37.786941,878038
878039,2003-01-06 00:40:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",POLK ST / CALIFORNIA ST,-122.420692,37.790577,878039
878040,2003-01-06 00:33:00,ASSAULT,INFLICT INJURY ON COHABITEE,Monday,MISSION,NONE,2800 Block of FOLSOM ST,-122.414073,37.751685,878040
878041,2003-01-06 00:31:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,RICHMOND,"ARREST, CITED",CLEMENT ST / 14TH AV,-122.472985,37.782552,878041
878042,2003-01-06 00:20:00,ASSAULT,ATTEMPTED HOMICIDE WITH A GUN,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,878042
878043,2003-01-06 00:20:00,OTHER OFFENSES,PAROLE VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,878043
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,878044
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948,878045
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266,878046
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607,878047
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212,878048

In [5]:
minidf=df_raw.loc[0:5,:]
minidf
minidf_test=df_test_raw.loc[0:5,:]
minidf_test

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
5,5,2015-05-10 23:40:00,Sunday,TARAVAL,BROAD ST / CAPITOL AV,-122.459024,37.713172

In [6]:
df_raw.describe() # shows one value for Y which is totally stupid

                   X              Y             Id
count  878049.000000  878049.000000  878049.000000
mean     -122.422616      37.771020  439024.000000
std         0.030354       0.456893  253471.057593
min      -122.513642      37.707879       0.000000
25%      -122.432952      37.752427  219512.000000
50%      -122.416420      37.775421  439024.000000
75%      -122.406959      37.784369  658536.000000
max      -120.500000      90.000000  878048.000000

In [7]:
df_raw[df_raw['Y']>38] # note that X is -120.5 for all those obs. We still have PdDistrict and Address...67 such OBS

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Id
660485,2005-12-30 17:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,TENDERLOIN,NONE,5THSTNORTH ST / OFARRELL ST,-120.5,90.0,660485
660711,2005-12-30 00:34:00,ASSAULT,INFLICT INJURY ON COHABITEE,Friday,BAYVIEW,"ARREST, BOOKED",JAMESLICKFREEWAY HY / SILVER AV,-120.5,90.0,660711
660712,2005-12-30 00:34:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Friday,BAYVIEW,"ARREST, BOOKED",JAMESLICKFREEWAY HY / SILVER AV,-120.5,90.0,660712
661106,2005-12-29 00:07:00,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Thursday,TENDERLOIN,PSYCHOPATHIC CASE,5THSTNORTH ST / EDDY ST,-120.5,90.0,661106
666430,2005-11-30 11:25:00,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,TENDERLOIN,"ARREST, CITED",5THSTNORTH ST / ELLIS ST,-120.5,90.0,666430
667042,2005-11-28 16:04:00,TRESPASS,TRESPASSING,Monday,TENDERLOIN,"ARREST, BOOKED",ELLIS ST / 5THSTNORTH ST,-120.5,90.0,667042
669946,2005-11-14 09:20:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,BAYVIEW,"ARREST, BOOKED",YOSEMITE AV / WILLIAMS AV,-120.5,90.0,669946
671709,2005-11-02 20:30:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,CENTRAL,NONE,BRENHAM PL / WASHINGTON ST,-120.5,90.0,671709
673078,2005-10-23 20:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,RICHMOND,NONE,AVENUE OF THE PALMS / GEARY BL,-120.5,90.0,673078
673114,2005-10-23 18:11:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Sunday,TARAVAL,"ARREST, BOOKED",STCHARLES AV / 19TH AV,-120.5,90.0,673114
673115,2005-10-23 18:11:00,OTHER OFFENSES,INDECENT EXPOSURE,Sunday,TARAVAL,"ARREST, BOOKED",STCHARLES AV / 19TH AV,-120.5,90.0,673115
673510,2005-10-22 16:00:00,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Saturday,TENDERLOIN,NONE,OFARRELL ST / 5THSTNORTH ST,-120.5,90.0,673510
674043,2005-10-21 10:15:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,SOUTHERN,NONE,BRANNAN ST / 1ST ST,-120.5,90.0,674043
675070,2005-10-18 20:00:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Tuesday,PARK,NONE,TURK ST / STJOSEPHS AV,-120.5,90.0,675070
675073,2005-10-18 20:00:00,VEHICLE THEFT,"VEHICLE, RECOVERED, AUTO",Tuesday,PARK,NONE,TURK ST / STJOSEPHS AV,-120.5,90.0,675073
675288,2005-10-18 10:15:00,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Tuesday,CENTRAL,NONE,MONTGOMERY ST / THE EMBARCADERONORTH ST,-120.5,90.0,675288
675540,2005-10-17 18:20:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,BAYVIEW,NONE,FITCH ST / DONNER AV,-120.5,90.0,675540
677036,2005-10-07 08:35:00,NON-CRIMINAL,FOUND PROPERTY,Friday,TENDERLOIN,UNFOUNDED,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0,677036
677260,2005-10-06 17:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Thursday,RICHMOND,NONE,AVENUE OF THE PALMS / EUCLID AV,-120.5,90.0,677260
677268,2005-10-06 17:30:00,VEHICLE THEFT,"VEHICLE, RECOVERED, AUTO",Thursday,RICHMOND,NONE,AVENUE OF THE PALMS / EUCLID AV,-120.5,90.0,677268
677828,2005-10-05 12:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,VANNESS AV / BEACH ST,-120.5,90.0,677828
678326,2005-10-04 09:00:00,LARCENY/THEFT,GRAND THEFT OF PROPERTY,Tuesday,INGLESIDE,NONE,PERSIA AV / LAGRANDE AV,-120.5,90.0,678326
678539,2005-10-03 18:46:00,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Monday,TENDERLOIN,"ARREST, CITED",7THSTNORTH ST / MCALLISTER ST,-120.5,90.0,678539
678540,2005-10-03 18:46:00,NON-CRIMINAL,PROPERTY FOR IDENTIFICATION,Monday,TENDERLOIN,"ARREST, CITED",7THSTNORTH ST / MCALLISTER ST,-120.5,90.0,678540
679643,2005-09-23 23:00:00,BURGLARY,"BURGLARY, ATTEMPTED FORCIBLE ENTRY",Friday,BAYVIEW,NONE,3RD ST / ISLAISCREEK ST,-120.5,90.0,679643
682780,2005-09-09 00:03:00,ASSAULT,BATTERY,Friday,TENDERLOIN,NONE,ELLIS ST / 5THSTNORTH ST,-120.5,90.0,682780
683862,2005-09-06 08:12:00,OTHER OFFENSES,TRAFFIC VIOLATION,Tuesday,RICHMOND,"ARREST, CITED",GEARY BL / AVENUE OF THE PALMS,-120.5,90.0,683862
684406,2005-08-28 16:00:00,NON-CRIMINAL,"AIDED CASE, MENTAL DISTURBED",Sunday,TENDERLOIN,NONE,EDDY ST / 5THSTNORTH ST,-120.5,90.0,684406
685719,2005-08-25 09:26:00,WARRANTS,WARRANT ARREST,Thursday,TENDERLOIN,"ARREST, BOOKED",5THSTNORTH ST / EDDY ST,-120.5,90.0,685719
685720,2005-08-25 09:26:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Thursday,TENDERLOIN,"ARREST, BOOKED",5THSTNORTH ST / EDDY ST,-120.5,90.0,685720
...,...,...,...,...,...,...,...,...,...,...
727080,2005-01-25 21:32:00,OTHER OFFENSES,FALSE EVIDENCE OF VEHICLE REGISTRATION,Tuesday,TENDERLOIN,"ARREST, BOOKED",EDDY ST / 5THSTNORTH ST,-120.5,90.0,727080
754828,2004-08-21 23:35:00,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Saturday,SOUTHERN,NONE,BRANNAN ST / 1ST ST,-120.5,90.0,754828
756059,2004-08-19 03:43:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Thursday,BAYVIEW,"ARREST, CITED",I-280 / PENNSYLVANIA AV,-120.5,90.0,756059
759292,2004-08-04 01:12:00,WARRANTS,ENROUTE TO PAROLE OFFICER,Wednesday,NORTHERN,"ARREST, BOOKED",AUSTIN ST / LARKIN ST,-120.5,90.0,759292
759397,2004-08-03 19:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Tuesday,NORTHERN,NONE,LARKIN ST / AUSTIN ST,-120.5,90.0,759397
767318,2004-06-24 13:00:00,OTHER OFFENSES,TRAFFIC VIOLATION,Thursday,MISSION,"ARREST, CITED",FLORIDA ST / ALAMEDA ST,-120.5,90.0,767318
767501,2004-06-24 00:03:00,DISORDERLY CONDUCT,COMMITTING PUBLIC NUISANCE,Thursday,NORTHERN,"ARREST, BOOKED",AUSTIN ST / LARKIN ST,-120.5,90.0,767501
767502,2004-06-24 00:03:00,OTHER OFFENSES,MISCELLANEOUS STATE MISDEMEANOR,Thursday,NORTHERN,"ARREST, BOOKED",AUSTIN ST / LARKIN ST,-120.5,90.0,767502
772415,2004-05-28 18:15:00,SUSPICIOUS OCC,SUSPICIOUS OCCURRENCE,Friday,BAYVIEW,NONE,I-280 / CESAR CHAVEZ ST,-120.5,90.0,772415
772431,2004-05-28 18:00:00,VEHICLE THEFT,"VEHICLE, RECOVERED, OTHER VEHICLE",Friday,SOUTHERN,NONE,BRYANT ST / SPEAR ST,-120.5,90.0,772431
773159,2004-05-27 00:45:00,WARRANTS,WARRANT ARREST,Thursday,NORTHERN,"ARREST, BOOKED",LARKIN ST / AUSTIN ST,-120.5,90.0,773159
783919,2004-04-03 20:52:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Saturday,SOUTHERN,"ARREST, CITED",JAMES LICK FREEWAY HY / 4TH ST,-120.5,90.0,783919
788574,2004-03-17 01:16:00,DISORDERLY CONDUCT,COMMITTING PUBLIC NUISANCE,Wednesday,NORTHERN,"ARREST, BOOKED",LARKIN ST / AUSTIN ST,-120.5,90.0,788574
788575,2004-03-17 01:16:00,OTHER OFFENSES,MISCELLANEOUS STATE MISDEMEANOR,Wednesday,NORTHERN,"ARREST, BOOKED",LARKIN ST / AUSTIN ST,-120.5,90.0,788575
789255,2004-03-15 15:30:00,ASSAULT,BATTERY,Monday,INGLESIDE,JUVENILE BOOKED,PERSIA AV / LA GRANDE AV,-120.5,90.0,789255
798834,2004-01-24 14:00:00,LARCENY/THEFT,GRAND THEFT PICKPOCKET,Saturday,CENTRAL,NONE,GREENWICH ST / THE EMBARCADERO NORTH ST,-120.5,90.0,798834
823378,2003-09-21 13:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Sunday,BAYVIEW,NONE,GILMAN AV / FITCH ST,-120.5,90.0,823378
833362,2003-08-07 15:45:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Thursday,NORTHERN,"ARREST, BOOKED",LARKIN ST / AUSTIN ST,-120.5,90.0,833362
833921,2003-08-06 12:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,SOUTHERN,NONE,BRANNAN ST / 1ST ST,-120.5,90.0,833921
839585,2003-07-08 19:22:00,WARRANTS,ENROUTE TO DEPARTMENT OF CORRECTIONS,Tuesday,SOUTHERN,"ARREST, BOOKED",1ST ST / BRANNAN ST,-120.5,90.0,839585
842259,2003-06-25 07:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,RICHMOND,NONE,JOHN F KENNEDY DR / MARTIN LUTHER KING JR DR,-120.5,90.0,842259
842261,2003-06-25 07:30:00,VEHICLE THEFT,"VEHICLE, RECOVERED, AUTO",Wednesday,RICHMOND,NONE,JOHN F KENNEDY DR / MARTIN LUTHER KING JR DR,-120.5,90.0,842261
842434,2003-06-24 18:35:00,STOLEN PROPERTY,RECEIVING STOLEN PROPERTY,Tuesday,NORTHERN,"ARREST, BOOKED",AUSTIN ST / LARKIN ST,-120.5,90.0,842434
842435,2003-06-24 18:35:00,WARRANTS,WARRANT ARREST,Tuesday,NORTHERN,"ARREST, BOOKED",AUSTIN ST / LARKIN ST,-120.5,90.0,842435
842828,2003-06-23 19:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,NORTHERN,NONE,LARKIN ST / AUSTIN ST,-120.5,90.0,842828
844995,2003-06-11 08:49:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Wednesday,INGLESIDE,"ARREST, CITED",JAMES LICK FREEWAY HY / CESAR CHAVEZ ST,-120.5,90.0,844995
845842,2003-06-09 09:25:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,INGLESIDE,"ARREST, CITED",JAMES LICK FREEWAY HY / CESAR CHAVEZ ST,-120.5,90.0,845842
852880,2003-05-02 01:00:00,SEX OFFENSES FORCIBLE,"FORCIBLE RAPE, BODILY FORCE",Friday,SOUTHERN,COMPLAINANT REFUSES TO PROSECUTE,3RD ST / JAMES LICK FREEWAY HY,-120.5,90.0,852880
857248,2003-04-14 16:30:00,ROBBERY,"ROBBERY ON THE STREET, STRONGARM",Monday,BAYVIEW,COMPLAINANT REFUSES TO PROSECUTE,GILMAN AV / FITCH ST,-120.5,90.0,857248
871198,2003-02-05 12:00:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Wednesday,SOUTHERN,NONE,SPEAR ST / THE EMBARCADERO SOUTH ST,-120.5,90.0,871198

In [8]:
df_raw.isnull().values.any() # no missing values

False

In [9]:
df_test_raw.describe() # shows one value for Y which is totally stupid

                  Id              X              Y
count  884262.000000  884262.000000  884262.000000
mean   442130.500000    -122.422693      37.771476
std    255264.596205       0.030985       0.484824
min         0.000000    -122.513642      37.707879
25%    221065.250000    -122.433069      37.752374
50%    442130.500000    -122.416517      37.775421
75%    663195.750000    -122.406959      37.784353
max    884261.000000    -120.500000      90.000000

In [10]:
df_test_raw[df_test_raw['Y']>38] # note that X is -120.5 for all those obs. We still have PdDistrict and Address...76 such OBS

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
664733,664733,2005-12-20 14:57:00,Tuesday,TENDERLOIN,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0
664734,664734,2005-12-20 14:57:00,Tuesday,TENDERLOIN,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0
664826,664826,2005-12-20 07:36:00,Tuesday,RICHMOND,GEARY BL / AVENUE OF THE PALMS,-120.5,90.0
664895,664895,2005-12-19 23:08:00,Monday,TENDERLOIN,EDDY ST / 5THSTNORTH ST,-120.5,90.0
667226,667226,2005-12-06 09:40:00,Tuesday,RICHMOND,GEARY BL / AVENUE OF THE PALMS,-120.5,90.0
671467,671467,2005-11-10 16:30:00,Thursday,TENDERLOIN,MCALLISTER ST / 7THSTNORTH ST,-120.5,90.0
672453,672453,2005-11-08 06:30:00,Tuesday,CENTRAL,FRONT ST / THE EMBARCADERONORTH ST,-120.5,90.0
675611,675611,2005-10-24 00:03:00,Monday,TENDERLOIN,OFARRELL ST / 5THSTNORTH ST,-120.5,90.0
675858,675858,2005-10-16 10:27:00,Sunday,TENDERLOIN,EDDY ST / 5THSTNORTH ST,-120.5,90.0
676528,676528,2005-10-14 15:49:00,Friday,TENDERLOIN,EDDY ST / 5THSTNORTH ST,-120.5,90.0
676811,676811,2005-10-13 22:35:00,Thursday,SOUTHERN,5TH ST / 5THSTNORTH ST,-120.5,90.0
677355,677355,2005-10-12 16:00:00,Wednesday,PARK,STJOSEPHS AV / TERRAVISTA AV,-120.5,90.0
678944,678944,2005-10-01 16:18:00,Saturday,TENDERLOIN,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0
678945,678945,2005-10-01 16:18:00,Saturday,TENDERLOIN,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0
679267,679267,2005-09-30 23:01:00,Friday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
683721,683721,2005-09-12 17:30:00,Monday,TENDERLOIN,ELLIS ST / 5THSTNORTH ST,-120.5,90.0
683795,683795,2005-09-12 13:53:00,Monday,TENDERLOIN,7THSTNORTH ST / MCALLISTER ST,-120.5,90.0
683968,683968,2005-09-04 23:30:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
683970,683970,2005-09-04 23:30:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
686013,686013,2005-08-30 20:15:00,Tuesday,TENDERLOIN,MCALLISTER ST / 7THSTNORTH ST,-120.5,90.0
686014,686014,2005-08-30 20:15:00,Tuesday,TENDERLOIN,MCALLISTER ST / 7THSTNORTH ST,-120.5,90.0
686015,686015,2005-08-30 20:15:00,Tuesday,TENDERLOIN,MCALLISTER ST / 7THSTNORTH ST,-120.5,90.0
687015,687015,2005-08-21 05:30:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
687357,687357,2005-08-20 09:30:00,Saturday,TENDERLOIN,5THSTNORTH ST / EDDY ST,-120.5,90.0
688886,688886,2005-08-16 09:25:00,Tuesday,TENDERLOIN,JENNINGS CT / PHELPS ST,-120.5,90.0
689209,689209,2005-08-15 12:00:00,Monday,TENDERLOIN,OFARRELL ST / 5THSTNORTH ST,-120.5,90.0
693007,693007,2005-07-22 22:15:00,Friday,TARAVAL,INTERSTATE280 HY / GENEVA AV,-120.5,90.0
705820,705820,2005-05-23 02:00:00,Monday,CENTRAL,ELLICK LN / CALIFORNIA ST,-120.5,90.0
707005,707005,2005-05-13 00:18:00,Friday,CENTRAL,BUSH ST / STGEORGE AL,-120.5,90.0
709457,709457,2005-04-29 18:55:00,Friday,TENDERLOIN,EDDY ST / 5THSTNORTH ST,-120.5,90.0
...,...,...,...,...,...,...,...
790277,790277,2004-03-27 12:48:00,Saturday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
790278,790278,2004-03-27 12:48:00,Saturday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
796525,796525,2004-02-27 16:39:00,Friday,NORTHERN,LARKIN ST / AUSTIN ST,-120.5,90.0
796526,796526,2004-02-27 16:39:00,Friday,NORTHERN,LARKIN ST / AUSTIN ST,-120.5,90.0
798831,798831,2004-02-15 02:00:00,Sunday,SOUTHERN,BRANNAN ST / 1ST ST,-120.5,90.0
798832,798832,2004-02-15 02:00:00,Sunday,SOUTHERN,BRANNAN ST / 1ST ST,-120.5,90.0
798941,798941,2004-02-14 21:10:00,Saturday,RICHMOND,JOHN F KENNEDY DR / CROSSOVER DR,-120.5,90.0
798942,798942,2004-02-14 21:10:00,Saturday,RICHMOND,JOHN F KENNEDY DR / CROSSOVER DR,-120.5,90.0
798943,798943,2004-02-14 21:10:00,Saturday,RICHMOND,JOHN F KENNEDY DR / CROSSOVER DR,-120.5,90.0
800668,800668,2004-02-10 20:30:00,Tuesday,RICHMOND,EUCLID AV / AVENUE OF THE PALMS,-120.5,90.0
800670,800670,2004-02-10 20:30:00,Tuesday,RICHMOND,EUCLID AV / AVENUE OF THE PALMS,-120.5,90.0
807432,807432,2004-01-12 05:30:00,Monday,SOUTHERN,BRANNAN ST / 1ST ST,-120.5,90.0
807434,807434,2004-01-12 05:30:00,Monday,SOUTHERN,BRANNAN ST / 1ST ST,-120.5,90.0
814294,814294,2003-12-03 16:30:00,Wednesday,SOUTHERN,BRANNAN ST / 1ST ST,-120.5,90.0
822978,822978,2003-10-22 01:38:00,Wednesday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
822979,822979,2003-10-22 01:38:00,Wednesday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
822980,822980,2003-10-22 01:38:00,Wednesday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
822981,822981,2003-10-22 01:38:00,Wednesday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
824015,824015,2003-10-12 17:46:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
824016,824016,2003-10-12 17:46:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
824017,824017,2003-10-12 17:46:00,Sunday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
825266,825266,2003-10-09 14:51:00,Thursday,MISSION,JAMES LICK FREEWAY HY / CESAR CHAVEZ ST,-120.5,90.0
825915,825915,2003-10-07 23:45:00,Tuesday,BAYVIEW,GILMAN AV / FITCH ST,-120.5,90.0
827026,827026,2003-09-28 10:00:00,Sunday,SOUTHERN,1ST ST / BRANNAN ST,-120.5,90.0
829626,829626,2003-09-22 13:50:00,Monday,INGLESIDE,JAMES LICK FREEWAY HY / BAY SHORE BL,-120.5,90.0
830647,830647,2003-09-12 23:00:00,Friday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
830648,830648,2003-09-12 23:00:00,Friday,NORTHERN,AUSTIN ST / LARKIN ST,-120.5,90.0
836254,836254,2003-08-16 17:30:00,Saturday,SOUTHERN,SPEAR ST / THE EMBARCADERO SOUTH ST,-120.5,90.0
836255,836255,2003-08-16 17:30:00,Saturday,SOUTHERN,SPEAR ST / THE EMBARCADERO SOUTH ST,-120.5,90.0
861864,861864,2003-04-12 11:30:00,Saturday,TARAVAL,LOWER GREAT HY / MARTIN LUTHER KING JR DR,-120.5,90.0

In [11]:
df_test_raw.isnull().values.any() # no missing values

False

In [12]:
# converting columns to the proper format (training set)

df_raw['Dates']=pd.to_datetime(df_raw['Dates'])

def is_categorical_a(array_like):
    return array_like.dtype.name == 'category'

for col in ['Category', 'DayOfWeek', 'PdDistrict', 'Resolution']:
    df_raw[col] = df_raw[col].astype('category')
    
df_raw.dtypes

# converting columns to the proper format (test set)

df_test_raw['Dates']=pd.to_datetime(df_test_raw['Dates'])

for col in ['DayOfWeek', 'PdDistrict']:
    df_test_raw[col] = df_test_raw[col].astype('category')
    
df_test_raw.dtypes
df_t = df_test_raw

In [13]:
# create a clean dataframe for the training test

df=df_raw[df_raw['Y']<=38]

# explore the dataframe
df_raw['PdDistrict'].describe()
df_raw.dtypes

Dates         datetime64[ns]
Category            category
Descript              object
DayOfWeek           category
PdDistrict          category
Resolution          category
Address               object
X                    float64
Y                    float64
Id                     int64
dtype: object

In [14]:
df.loc[:,'Hour']=df['Dates'].dt.hour
type(df.loc)
# df['Hour']

df_t.loc[:,'Hour']=df_t['Dates'].dt.hour
type(df_t.loc)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/indexing.py:284: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

pandas.core.indexing._LocIndexer

In [15]:
# example how to make dummy variables
s= pd.Series(["Wednesday","Tuesday","Friday","Thursday","Saturday","Sunday","Monday"], dtype="category")
s = s.cat.reorder_categories(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"], ordered=True)
pd.get_dummies(s, drop_first=True)

df.loc[:,'DayOfWeek'] = df['DayOfWeek'].cat.reorder_categories(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"], ordered=True)
x=pd.get_dummies(df['DayOfWeek'], drop_first=True)
y=pd.get_dummies(df['PdDistrict'], drop_first=True)

In [16]:
# df['Hour'].describe() # 0 to 23

def hourslice2 (hour):
    if   (hour==0)  or (hour==23) : return ("23H - 0H")
    elif (hour==1)  or (hour==2)  : return (" 1H - 2H")
    elif (hour==3)  or (hour==4)  : return (" 3H - 4H")
    elif (hour==5)  or (hour==6)  : return (" 5H - 6H")
    elif (hour==7)  or (hour==8)  : return (" 7H - 8H")
    elif (hour==9)  or (hour==10) : return (" 9H - 10H")
    elif (hour==11) or (hour==12) : return ("11H - 12H")
    elif (hour==13) or (hour==14) : return ("13H - 14H")
    elif (hour==15) or (hour==16) : return ("15H - 16H")
    elif (hour==17) or (hour==18) : return ("17H - 18H")
    elif (hour==19) or (hour==20) : return ("19H - 20H")
    else                          : return ("21H - 22H")
    
df.loc[:,'hourslice2']=df.loc[:,'Hour'].apply(hourslice2)   
z = pd.get_dummies(df['hourslice2'], drop_first=True)

In [17]:
df = pd.concat([df, x,y,z], axis=1)

In [18]:
def myfun(y): return(y.value // 10**9)
    
df.loc[:,'Date_sec']=df['Dates'].apply(myfun)

In [19]:
df_t.loc[:,'DayOfWeek'] = df_t['DayOfWeek'].cat.reorder_categories(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"], ordered=True)
x=pd.get_dummies(df_t['DayOfWeek'], drop_first=True)
y=pd.get_dummies(df_t['PdDistrict'], drop_first=True)
df_t.loc[:,'hourslice2']=df_t.loc[:,'Hour'].apply(hourslice2)   
z = pd.get_dummies(df_t['hourslice2'], drop_first=True)
df_t = pd.concat([df_t, x,y,z], axis=1)

df_t.loc[:,'Date_sec']=df_t['Dates'].apply(myfun)

In [20]:
import holidays
from datetime import date
us_holidays = holidays.UnitedStates()  # or holidays.US()

def isholiday(d) :
    return(int(d in us_holidays))
# example
int(isholiday('2001-01-01 23:53:00'))

df['Holiday']=df['Dates'].apply(isholiday)
df_t['Holiday']=df_t['Dates'].apply(isholiday)

df.dtypes

Dates         datetime64[ns]
Category            category
Descript              object
DayOfWeek           category
PdDistrict          category
Resolution          category
Address               object
X                    float64
Y                    float64
Id                     int64
Hour                   int64
hourslice2            object
Tuesday              float64
Wednesday            float64
Thursday             float64
Friday               float64
Saturday             float64
Sunday               float64
CENTRAL              float64
INGLESIDE            float64
MISSION              float64
NORTHERN             float64
PARK                 float64
RICHMOND             float64
SOUTHERN             float64
TARAVAL              float64
TENDERLOIN           float64
 3H - 4H             float64
 5H - 6H             float64
 7H - 8H             float64
 9H - 10H            float64
11H - 12H            float64
13H - 14H            float64
15H - 16H            float64
17H - 18H            float64
19H - 20H            float64
21H - 22H            float64
23H - 0H             float64
Date_sec               int64
Holiday                int64
dtype: object

In [21]:
# http://sanfranciscopolice.org/police-district-maps
# http://www.latlong.net/convert-address-to-lat-long.html

PoliceStations_raw=pd.DataFrame(
[['BAYVIEW'   ,-122.397981,37.729732],
 ['CENTRAL'   ,-122.409919,37.798732],
 ['INGLESIDE' ,-122.446215,37.724676],
 ['MISSION'   ,-122.422005,37.762849],
 ['NORTHERN'  ,-122.432467,37.780186],
 ['PARK'      ,-122.455287,37.767797],
 ['RICHMOND'  ,-122.464467,37.779928],
 ['SOUTHERN'  ,-122.389412,37.772380],
 ['TARAVAL'   ,-122.481500,37.743733],
 ['TENDERLOIN',-122.412899,37.783674]],columns=['PdDistrict','XX','YY'])
PoliceStations_raw

   PdDistrict          XX         YY
0     BAYVIEW -122.397981  37.729732
1     CENTRAL -122.409919  37.798732
2   INGLESIDE -122.446215  37.724676
3     MISSION -122.422005  37.762849
4    NORTHERN -122.432467  37.780186
5        PARK -122.455287  37.767797
6    RICHMOND -122.464467  37.779928
7    SOUTHERN -122.389412  37.772380
8     TARAVAL -122.481500  37.743733
9  TENDERLOIN -122.412899  37.783674

In [22]:
df  =pd.merge(df  ,PoliceStations_raw,on='PdDistrict',how='left')
df_t=pd.merge(df_t,PoliceStations_raw,on='PdDistrict',how='left')

#df['Pd_Dist']=( (df['X']-df['XX']) **2 + (df['Y']-df['YY']) ** 2)
df.head()
# be careful pd.merge is resetting dtypes !!!!!!!
df.dtypes
df['Category'] = df_raw['Category'].astype('category')
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Id,...,13H - 14H,15H - 16H,17H - 18H,19H - 20H,21H - 22H,23H - 0H,Date_sec,Holiday,XX,YY
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1431561180,0,-122.432467,37.780186
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,1,...,0.0,0.0,0.0,0.0,0.0,1.0,1431561180,0,-122.432467,37.780186
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2,...,0.0,0.0,0.0,0.0,0.0,1.0,1431559980,0,-122.432467,37.780186
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,3,...,0.0,0.0,0.0,0.0,0.0,1.0,1431559800,0,-122.432467,37.780186
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,4,...,0.0,0.0,0.0,0.0,0.0,1.0,1431559800,0,-122.455287,37.767797

In [23]:
df['Pd_Dist']=( (df['X']-df['XX']) **2 + (df['Y']-df['YY']) ** 2)
df['Pd_Dist']=np.sqrt(df['Pd_Dist'])

df_t['Pd_Dist']=( (df_t['X']-df_t['XX']) **2 + (df_t['Y']-df_t['YY']) ** 2)
df_t['Pd_Dist']=np.sqrt(df_t['Pd_Dist'])
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Id,...,15H - 16H,17H - 18H,19H - 20H,21H - 22H,23H - 0H,Date_sec,Holiday,XX,YY,Pd_Dist
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,0,...,0.0,0.0,0.0,0.0,1.0,1431561180,0,-122.432467,37.780186,0.008629
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,1,...,0.0,0.0,0.0,0.0,1.0,1431561180,0,-122.432467,37.780186,0.008629
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2,...,0.0,0.0,0.0,0.0,1.0,1431559980,0,-122.432467,37.780186,0.021791
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,3,...,0.0,0.0,0.0,0.0,1.0,1431559800,0,-122.432467,37.780186,0.021398
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,4,...,0.0,0.0,0.0,0.0,1.0,1431559800,0,-122.455287,37.767797,0.016968

In [24]:
# normalize test data with training data scaling !!!!! very important !!!! (easy mistake)

def norm_01(df1,df2):
    return( ( df1 - df1.min()) / (df1.max() - df1.min()) , ( df2 - df1.min()) / (df1.max() - df1.min()) )

In [25]:
df['Xnorm'],df_t['Xnorm']=norm_01(df['X'],df_t['X'])
df['Ynorm'],df_t['Ynorm']=norm_01(df['Y'],df_t['Y'])
df['Hournorm'],df_t['Hournorm']=norm_01(df['Hour'],df_t['Hour'])
df['Date_secnorm'],df_t['Date_secnorm']=norm_01(df['Date_sec'],df_t['Date_sec'])
df['Pd_Distnorm'],df_t['Pd_Distnorm']= norm_01(df['Pd_Dist'],df_t['Pd_Dist'])

In [26]:
# Adding Address Features
df_a=df.loc[:,'Address']
df_t_a = df_t.loc[:,'Address']


df['AV']=df_a.apply(lambda x: int(' AV' in x))
df['BL']=df_a.apply(lambda x: int(' BL' in x))
df['CR']=df_a.apply(lambda x: int(' CR' in x))
df['CT']=df_a.apply(lambda x: int(' CT' in x))
df['DR']=df_a.apply(lambda x: int(' DR' in x))
df['BL']=df_a.apply(lambda x: int(' BL' in x))
df['LN']=df_a.apply(lambda x: int(' LN' in x))
df['PL']=df_a.apply(lambda x: int(' PL' in x))
df['PZ']=df_a.apply(lambda x: int(' PZ' in x))
df['RD']=df_a.apply(lambda x: int(' RD' in x))
df['TR']=df_a.apply(lambda x: int(' TR' in x))
df['HWY']=df_a.apply(lambda x: int((' HY' in x) or ('HWY' in x)) )
df['WAY']=df_a.apply(lambda x: int((' WY' in x) or ('WAY' in x)) )
#i took out 'ST' because everything not above contains ST

df['IsIntersect'] = df_a.apply(lambda x: int('/' in x))

# same for test set

df_t['AV'] =df_t_a.apply(lambda x: int(' AV' in x))
df_t['BL'] =df_t_a.apply(lambda x: int(' BL' in x))
df_t['CR'] =df_t_a.apply(lambda x: int(' CR' in x))
df_t['CT'] =df_t_a.apply(lambda x: int(' CT' in x))
df_t['DR'] =df_t_a.apply(lambda x: int(' DR' in x))
df_t['BL'] =df_t_a.apply(lambda x: int(' BL' in x))
df_t['LN'] =df_t_a.apply(lambda x: int(' LN' in x))
df_t['PL'] =df_t_a.apply(lambda x: int(' PL' in x))
df_t['PZ'] =df_t_a.apply(lambda x: int(' PZ' in x))
df_t['RD'] =df_t_a.apply(lambda x: int(' RD' in x))
df_t['TR'] =df_t_a.apply(lambda x: int(' TR' in x))
df_t['HWY']=df_t_a.apply(lambda x: int((' HY' in x) or ('HWY' in x)) )
df_t['WAY']=df_t_a.apply(lambda x: int((' WY' in x) or ('WAY' in x)) )
#i took out 'ST' because everything not above contains ST

df_t['IsIntersect'] = df_t_a.apply(lambda x: int('/' in x))

In [27]:
address_train=pd.DataFrame(sorted(df_a.unique()),columns=['Address'])
address_test=pd.DataFrame(sorted(df_t_a.unique()),columns=['Address'])
print('number of addresses in train set %d' % len(address_train))
print('number of addresses in test  set %d' % len(address_test))
# categories=sorted(df["Category"].unique())
C_counts=df.groupby(["Category"]).size()
N_obs_train=len(df)
print(sum(C_counts))
print(len(df))
# A_C_counts=df.groupby(["Address","Category"]).size()

A_counts=df.groupby(["Address"]).size()
A_counts=pd.DataFrame(A_counts)
A_counts.columns=['count']
A_counts.head()

number of addresses in train set 23191
number of addresses in test  set 23184
877982
877982

                         count
Address
0 Block of  HARRISON ST      1
0 Block of 10TH AV           5
0 Block of 10TH ST          49
0 Block of 11TH ST          48
0 Block of 12TH AV           7

In [28]:
check_address=pd.merge(address_test,A_counts,left_on='Address',right_index=True,how='left',indicator=True)
print('number of addresses in test set not present in the train set %d' % len(check_address[check_address['_merge']=='left_only']))
# 1563 new addresses in the test set, how many observations is that ?
check_address

number of addresses in test set not present in the train set 1563

                         Address  count     _merge
0             0 Block of 10TH ST   49.0       both
1             0 Block of 11TH ST   48.0       both
2             0 Block of 12TH AV    7.0       both
3             0 Block of 12TH ST  436.0       both
4             0 Block of 13TH ST   46.0       both
5             0 Block of 14TH AV    6.0       both
6             0 Block of 14TH ST   59.0       both
7             0 Block of 15TH AV    6.0       both
8             0 Block of 15TH ST    7.0       both
9             0 Block of 16TH AV    5.0       both
10            0 Block of 17TH AV    6.0       both
11            0 Block of 18TH AV   17.0       both
12            0 Block of 19TH AV    7.0       both
13             0 Block of 1ST ST  153.0       both
14            0 Block of 20TH AV    7.0       both
15            0 Block of 21ST AV   20.0       both
16            0 Block of 22ND AV    9.0       both
17            0 Block of 25TH AV   18.0       both
18            0 Block of 26TH AV    7.0       both
19            0 Block of 27TH AV    3.0       both
20            0 Block of 27TH ST    8.0       both
21            0 Block of 28TH ST   48.0       both
22            0 Block of 29TH ST   55.0       both
23             0 Block of 2ND AV    2.0       both
24             0 Block of 2ND ST  147.0       both
25            0 Block of 30TH ST   65.0       both
26            0 Block of 36TH AV    4.0       both
27             0 Block of 3RD AV    4.0       both
28             0 Block of 3RD ST  409.0       both
29             0 Block of 4TH ST  696.0       both
...                          ...    ...        ...
23154          YORK ST / 18TH ST   17.0       both
23155          YORK ST / 19TH ST   24.0       both
23156          YORK ST / 20TH ST   15.0       both
23157          YORK ST / 21ST ST    6.0       both
23158          YORK ST / 22ND ST   15.0       both
23159          YORK ST / 23RD ST   11.0       both
23160          YORK ST / 24TH ST   38.0       both
23161          YORK ST / 25TH ST    9.0       both
23162          YORK ST / 26TH ST    5.0       both
23163  YORK ST / CESAR CHAVEZ ST    7.0       both
23164      YORK ST / MARIPOSA ST    4.0       both
23165      YORK ST / MONTCALM ST    NaN  left_only
23166       YORK ST / PRECITA AV    NaN  left_only
23167       YOSEMITE AV / 3RD ST   18.0       both
23168     YOSEMITE AV / HAWES ST    2.0       both
23169   YOSEMITE AV / INGALLS ST   10.0       both
23170  YOSEMITE AV / JENNINGS ST    4.0       both
23171     YOSEMITE AV / KEITH ST    6.0       both
23172      YOSEMITE AV / LANE ST    4.0       both
23173   YOSEMITE AV / MENDELL ST    1.0       both
23174         YUKON ST / 19TH ST    1.0       both
23175      YUKON ST / CASELLI AV    NaN  left_only
23176        YUKON ST / EAGLE ST    2.0       both
23177        YUKON ST / SHORT ST    NaN  left_only
23178        ZAMPA LN / GEARY BL    5.0       both
23179        ZENO PL / FOLSOM ST    3.0       both
23180        ZOE ST / BRANNAN ST   10.0       both
23181         ZOE ST / BRYANT ST   10.0       both
23182        ZOE ST / FREELON ST    4.0       both
23183          ZOE ST / WELSH ST    3.0       both

[23184 rows x 3 columns]

In [29]:
address_test.head()
A_counts.head()

                         count
Address
0 Block of  HARRISON ST      1
0 Block of 10TH AV           5
0 Block of 10TH ST          49
0 Block of 11TH ST          48
0 Block of 12TH AV           7

In [30]:
df1 = pd.merge(df,A_counts,left_on='Address',how='left',right_index=True)
df1['one']=1

table = pd.pivot_table(df1, values='one',index=['Address'],
                 columns=['Category'], fill_value=0, aggfunc=np.sum)
Total=table.sum(axis=1)

def myfun(v):
    w=v.astype(float)
    return(np.divide(w,Total))
table=table.apply(myfun)
table
table.columns=["proba_"+str(x) for x in range(len(table.columns))]

df2=pd.merge(df1,table,left_on='Address',how='left',right_index=True).drop(['one'],axis=1)

In [31]:
table.loc['Default',:]=np.array(C_counts/N_obs_train)
print(sum(table.loc['Default',:]))
table.tail()

1.0

,proba_0,proba_1,proba_2,proba_3,proba_4,proba_5,proba_6,proba_7,proba_8,proba_9,...,proba_29,proba_30,proba_31,proba_32,proba_33,proba_34,proba_35,proba_36,proba_37,proba_38
Address,,,,,,,,,,,,,,,,,,,,,
ZOE ST / BRANNAN ST,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.10000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
ZOE ST / BRYANT ST,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.100000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.100000,0.100000,0.000000,0.000000
ZOE ST / FREELON ST,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000
ZOE ST / WELSH ST,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Default,0.001723,0.087552,0.000462,0.000329,0.04186,0.00492,0.002583,0.061472,0.004875,0.001328,...,0.000169,0.005169,0.000579,0.03578,0.000007,0.008341,0.050933,0.061251,0.048076,0.009744

In [32]:
df_t_1 = pd.merge(df_t,check_address,on='Address',how='left')
df_t_1['Address'][df_t_1['_merge']=='left_only']='Default'
# number of obs in the test set with Default address
print(sum((df_t_1['Address']=='Default').astype(int)))

df_t_1

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

3219

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y,Hour,hourslice2,Tuesday,...,LN,PL,PZ,RD,TR,HWY,WAY,IsIntersect,count,_merge
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,68.0,both
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,1,203.0,both
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,22.0,both
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,493.0,both
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,493.0,both
5,5,2015-05-10 23:40:00,Sunday,TARAVAL,BROAD ST / CAPITOL AV,-122.459024,37.713172,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,1,68.0,both
6,6,2015-05-10 23:30:00,Sunday,INGLESIDE,100 Block of CHENERY ST,-122.425616,37.739351,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,41.0,both
7,7,2015-05-10 23:30:00,Sunday,INGLESIDE,200 Block of BANKS ST,-122.412652,37.739750,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,15.0,both
8,8,2015-05-10 23:10:00,Sunday,MISSION,2900 Block of 16TH ST,-122.418700,37.765165,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,329.0,both
9,9,2015-05-10 23:10:00,Sunday,CENTRAL,TAYLOR ST / GREEN ST,-122.413935,37.798886,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,1,24.0,both
10,10,2015-05-10 23:00:00,Sunday,INGLESIDE,100 Block of PERALTA AV,-122.408608,37.746787,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,42.0,both
11,11,2015-05-10 23:00:00,Sunday,MISSION,600 Block of FLORIDA ST,-122.411094,37.761048,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,76.0,both
12,12,2015-05-10 23:00:00,Sunday,MISSION,600 Block of FLORIDA ST,-122.411094,37.761048,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,76.0,both
13,13,2015-05-10 23:00:00,Sunday,CENTRAL,200 Block of VALLEJO ST,-122.402131,37.799364,23,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,23.0,both
14,14,2015-05-10 23:00:00,Sunday,CENTRAL,JEFFERSON ST / HYDE ST,-122.420747,37.807588,23,23H - 0H,0.0,...,0,0,0,0,0,1,0,1,53.0,both
15,15,2015-05-10 22:50:00,Sunday,TENDERLOIN,GOLDEN GATE AV / HYDE ST,-122.415508,37.781654,22,21H - 22H,0.0,...,0,0,0,0,0,1,0,1,505.0,both
16,16,2015-05-10 22:36:00,Sunday,TARAVAL,1200 Block of OCEAN AV,-122.455679,37.723702,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,124.0,both
17,17,2015-05-10 22:00:00,Sunday,INGLESIDE,1200 Block of GIRARD ST,-122.400298,37.717181,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,54.0,both
18,18,2015-05-10 22:00:00,Sunday,NORTHERN,1900 Block of FILLMORE ST,-122.433669,37.787709,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,91.0,both
19,19,2015-05-10 22:00:00,Sunday,NORTHERN,GREEN ST / POLK ST,-122.422150,37.797824,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,1,11.0,both
20,20,2015-05-10 22:00:00,Sunday,NORTHERN,GREEN ST / POLK ST,-122.422150,37.797824,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,1,11.0,both
21,21,2015-05-10 22:00:00,Sunday,MISSION,15TH ST / FOLSOM ST,-122.415464,37.766937,22,21H - 22H,0.0,...,0,0,0,0,0,0,0,1,49.0,both
22,22,2015-05-10 21:54:00,Sunday,CENTRAL,1800 Block of KEARNY ST,-122.406821,37.804828,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,14.0,both
23,23,2015-05-10 21:51:00,Sunday,INGLESIDE,200 Block of PEABODY ST,-122.407922,37.709004,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,36.0,both
24,24,2015-05-10 21:35:00,Sunday,NORTHERN,500 Block of HAIGHT ST,-122.431290,37.772055,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,333.0,both
25,25,2015-05-10 21:30:00,Sunday,RICHMOND,200 Block of 11TH AV,-122.469907,37.783616,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,30.0,both
26,26,2015-05-10 21:30:00,Sunday,NORTHERN,800 Block of FULTON ST,-122.431149,37.777698,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,121.0,both
27,27,2015-05-10 21:16:00,Sunday,SOUTHERN,800 Block of BRYANT ST,-122.403405,37.775421,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,26533.0,both
28,28,2015-05-10 21:00:00,Sunday,INGLESIDE,300 Block of LOSPALMOS DR,-122.450676,37.735401,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,12.0,both
29,29,2015-05-10 21:00:00,Sunday,TARAVAL,1800 Block of 15TH AV,-122.472131,37.753391,21,21H - 22H,0.0,...,0,0,0,0,0,0,0,0,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884232,884232,2003-01-01 00:01:00,Wednesday,MISSION,2400 Block of BRYANT ST,-122.409436,37.755178,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,74.0,both
884233,884233,2003-01-01 00:01:00,Wednesday,SOUTHERN,500 Block of 2ND ST,-122.392671,37.782399,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,152.0,both
884234,884234,2003-01-01 00:01:00,Wednesday,RICHMOND,800 Block of 33RD AV,-122.492762,37.773097,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,24.0,both
884235,884235,2003-01-01 00:01:00,Wednesday,INGLESIDE,500 Block of PORTOLA DR,-122.451164,37.745564,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,221.0,both
884236,884236,2003-01-01 00:01:00,Wednesday,MISSION,500 Block of GUERRERO ST,-122.424037,37.762751,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,118.0,both
884237,884237,2003-01-01 00:01:00,Wednesday,CENTRAL,1200 Block of CALIFORNIA ST,-122.414933,37.791255,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,148.0,both
884238,884238,2003-01-01 00:01:00,Wednesday,TARAVAL,200 Block of WINSTON DR,-122.477977,37.726935,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,772.0,both
884239,884239,2003-01-01 00:01:00,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,66.0,both
884240,884240,2003-01-01 00:01:00,Wednesday,RICHMOND,2900 Block of PACIFIC AV,-122.443835,37.792137,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,32.0,both
884241,884241,2003-01-01 00:01:00,Wednesday,BAYVIEW,1300 Block of SILVER AV,-122.409221,37.731393,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,88.0,both
884242,884242,2003-01-01 00:01:00,Wednesday,MISSION,2400 Block of FOLSOM ST,-122.414683,37.758077,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,105.0,both
884243,884243,2003-01-01 00:01:00,Wednesday,MISSION,200 Block of COLLINGWOOD ST,-122.435950,37.758403,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,47.0,both
884244,884244,2003-01-01 00:01:00,Wednesday,BAYVIEW,500 Block of HOLYOKE ST,-122.407721,37.724547,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,10.0,both
884245,884245,2003-01-01 00:01:00,Wednesday,TENDERLOIN,300 Block of EDDY ST,-122.413754,37.783730,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,1589.0,both
884246,884246,2003-01-01 00:01:00,Wednesday,BAYVIEW,0 Block of OSCEOLA LN,-122.383085,37.731752,0,23H - 0H,0.0,...,1,0,0,0,0,0,0,0,286.0,both
884247,884247,2003-01-01 00:01:00,Wednesday,MISSION,2700 Block of 21ST ST,-122.409125,37.757678,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,59.0,both
884248,884248,2003-01-01 00:01:00,Wednesday,CENTRAL,400 Block of BROADWAY ST,-122.405065,37.798013,0,23H - 0H,0.0,...,0,0,0,0,0,0,1,0,978.0,both
884249,884249,2003-01-01 00:01:00,Wednesday,CENTRAL,800 Block of PACIFIC AV,-122.409061,37.796679,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,323.0,both
884250,884250,2003-01-01 00:01:00,Wednesday,SOUTHERN,800 Block of BRYANT ST,-122.403405,37.775421,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,26533.0,both
884251,884251,2003-01-01 00:01:00,Wednesday,MISSION,2400 Block of MARIPOSA ST,-122.407808,37.763099,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,82.0,both
884252,884252,2003-01-01 00:01:00,Wednesday,INGLESIDE,400 Block of MONTEREY BL,-122.445466,37.731460,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,118.0,both
884253,884253,2003-01-01 00:01:00,Wednesday,CENTRAL,400 Block of GEARY ST,-122.410722,37.787097,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,751.0,both
884254,884254,2003-01-01 00:01:00,Wednesday,CENTRAL,1400 Block of CALIFORNIA ST,-122.418239,37.790933,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,188.0,both
884255,884255,2003-01-01 00:01:00,Wednesday,INGLESIDE,200 Block of PRECITA AV,-122.414190,37.747319,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,61.0,both
884256,884256,2003-01-01 00:01:00,Wednesday,MISSION,1800 Block of 15TH ST,-122.425864,37.766254,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,153.0,both
884257,884257,2003-01-01 00:01:00,Wednesday,MISSION,2600 Block of BRYANT ST,-122.408983,37.751987,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,66.0,both
884258,884258,2003-01-01 00:01:00,Wednesday,NORTHERN,1900 Block of WASHINGTON ST,-122.425342,37.792681,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,72.0,both
884259,884259,2003-01-01 00:01:00,Wednesday,INGLESIDE,5500 Block of MISSION ST,-122.445418,37.712075,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,119.0,both
884260,884260,2003-01-01 00:01:00,Wednesday,BAYVIEW,1500 Block of HUDSON AV,-122.387394,37.739479,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,79.0,both
884261,884261,2003-01-01 00:01:00,Wednesday,TARAVAL,1500 Block of SLOAT BL,-122.489714,37.733950,0,23H - 0H,0.0,...,0,0,0,0,0,0,0,0,502.0,both

In [33]:
df_t_2=pd.merge(df_t_1,table,left_on='Address',how='left',right_index=True)
print(df_t_2['count'].loc[0])
print(A_counts.loc['2000 Block of THOMAS AV'])

# set count to 1 for addresses which are present in test set, but not in the training set

# xxx=df_t_2[df_t_2['Address']=='Default']
# df_t_2['count'][df_t_2['Address']=='Default']
df_t_2['count'][df_t_2['Address']=='Default']=1 

df2   ['count']=df2.loc[:,'count']/N_obs_train
df_t_2['count']=df_t_2.loc [:,'count']/N_obs_train

68.0
count    68
Name: 2000 Block of THOMAS AV, dtype: int64

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [34]:
# leaving only normalized variables in the training set
df=df2.drop(['Id','Dates','Date_sec','Hour','Descript','PdDistrict','Resolution','Address','X','Y','XX','YY','hourslice2','DayOfWeek','Pd_Dist'],axis=1) 
# leaving only normalized variables in the test set
df_t=df_t_2.drop(['Id','_merge','Dates','Date_sec','Hour','PdDistrict','Address','X','Y','XX','YY','hourslice2','DayOfWeek','Pd_Dist'],axis=1) 
print(len(df_t.columns))
print(len(df.columns))
# the 1 difference in column length is because train set includes Category.

85
86

In [35]:
A_counts.head()

                         count
Address
0 Block of  HARRISON ST      1
0 Block of 10TH AV           5
0 Block of 10TH ST          49
0 Block of 11TH ST          48
0 Block of 12TH AV           7

In [36]:
NObs = df.shape[0]
NObs//10
87798%128

118

In [38]:
import random
rows = random.sample(df.index, NObs//10)
# rows1 = rows[:len(rows)//2]
# rows2 = rows[len(rows)//2:]
# validdata = df.ix[rows1]
# testdata  = df.ix[rows2]

validdata =df.ix[rows]
# validdata =validdata.drop('Id',axis=1)

traindata = df.drop(rows)
#traindata=traindata.drop('Id',axis=1)

print(traindata.shape)
print(validdata.shape)


testdata = df_t

(790184, 86)
(87798, 86)

In [83]:
# execute this instead of the previous block if using the whole set for training
traindata=df
print(traindata.shape)

(877982, 86)

In [82]:
minidf= traindata.loc[1:5,:]
# minidf['hourslice2']
minidf

,Category,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,CENTRAL,INGLESIDE,MISSION,...,proba_29,proba_30,proba_31,proba_32,proba_33,proba_34,proba_35,proba_36,proba_37,proba_38
1,OTHER OFFENSES,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.022222,0.133333,0.088889,0.000000
2,OTHER OFFENSES,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.043478,0.0,0.000000,0.000000,0.043478,0.043478,0.000000
3,LARCENY/THEFT,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.012903,0.0,0.019355,0.045161,0.045161,0.019355,0.000000
4,LARCENY/THEFT,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.038462,0.0,0.019231,0.115385,0.153846,0.019231,0.000000
5,LARCENY/THEFT,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.014706,0.000000,0.0,0.029412,0.073529,0.147059,0.014706,0.029412

In [40]:
column_names = minidf.columns
column_names

Index([u'Category', u'Tuesday', u'Wednesday', u'Thursday', u'Friday',
       u'Saturday', u'Sunday', u'CENTRAL', u'INGLESIDE', u'MISSION',
       u'NORTHERN', u'PARK', u'RICHMOND', u'SOUTHERN', u'TARAVAL',
       u'TENDERLOIN', u' 3H - 4H', u' 5H - 6H', u' 7H - 8H', u' 9H - 10H',
       u'11H - 12H', u'13H - 14H', u'15H - 16H', u'17H - 18H', u'19H - 20H',
       u'21H - 22H', u'23H - 0H', u'Holiday', u'Xnorm', u'Ynorm', u'Hournorm',
       u'Date_secnorm', u'Pd_Distnorm', u'AV', u'BL', u'CR', u'CT', u'DR',
       u'LN', u'PL', u'PZ', u'RD', u'TR', u'HWY', u'WAY', u'IsIntersect',
       u'count', u'proba_0', u'proba_1', u'proba_2', u'proba_3', u'proba_4',
       u'proba_5', u'proba_6', u'proba_7', u'proba_8', u'proba_9', u'proba_10',
       u'proba_11', u'proba_12', u'proba_13', u'proba_14', u'proba_15',
       u'proba_16', u'proba_17', u'proba_18', u'proba_19', u'proba_20',
       u'proba_21', u'proba_22', u'proba_23', u'proba_24', u'proba_25',
       u'proba_26', u'proba_27', u'proba_28', u'proba_29', u'proba_30',
       u'proba_31', u'proba_32', u'proba_33', u'proba_34', u'proba_35',
       u'proba_36', u'proba_37', u'proba_38'],
      dtype='object')

In [41]:
num_variables = traindata.shape[1]-1 # substract 1 because we will drop the target variable later
num_variables

85

In [42]:
traindata.dtypes

Category      category
Tuesday        float64
Wednesday      float64
Thursday       float64
Friday         float64
Saturday       float64
Sunday         float64
CENTRAL        float64
INGLESIDE      float64
MISSION        float64
NORTHERN       float64
PARK           float64
RICHMOND       float64
SOUTHERN       float64
TARAVAL        float64
TENDERLOIN     float64
 3H - 4H       float64
 5H - 6H       float64
 7H - 8H       float64
 9H - 10H      float64
11H - 12H      float64
13H - 14H      float64
15H - 16H      float64
17H - 18H      float64
19H - 20H      float64
21H - 22H      float64
23H - 0H       float64
Holiday          int64
Xnorm          float64
Ynorm          float64
                ...
proba_9        float64
proba_10       float64
proba_11       float64
proba_12       float64
proba_13       float64
proba_14       float64
proba_15       float64
proba_16       float64
proba_17       float64
proba_18       float64
proba_19       float64
proba_20       float64
proba_21       float64
proba_22       float64
proba_23       float64
proba_24       float64
proba_25       float64
proba_26       float64
proba_27       float64
proba_28       float64
proba_29       float64
proba_30       float64
proba_31       float64
proba_32       float64
proba_33       float64
proba_34       float64
proba_35       float64
proba_36       float64
proba_37       float64
proba_38       float64
dtype: object

In [43]:
num_Category=df['Category'].cat.categories.shape[0]
num_Category

39

In [44]:
Categories=np.array(traindata.loc[:,'Category'].cat.categories)
Categories

array(['ARSON', 'ASSAULT', 'BAD CHECKS', 'BRIBERY', 'BURGLARY',
       'DISORDERLY CONDUCT', 'DRIVING UNDER THE INFLUENCE',
       'DRUG/NARCOTIC', 'DRUNKENNESS', 'EMBEZZLEMENT', 'EXTORTION',
       'FAMILY OFFENSES', 'FORGERY/COUNTERFEITING', 'FRAUD', 'GAMBLING',
       'KIDNAPPING', 'LARCENY/THEFT', 'LIQUOR LAWS', 'LOITERING',
       'MISSING PERSON', 'NON-CRIMINAL', 'OTHER OFFENSES',
       'PORNOGRAPHY/OBSCENE MAT', 'PROSTITUTION', 'RECOVERED VEHICLE',
       'ROBBERY', 'RUNAWAY', 'SECONDARY CODES', 'SEX OFFENSES FORCIBLE',
       'SEX OFFENSES NON FORCIBLE', 'STOLEN PROPERTY', 'SUICIDE',
       'SUSPICIOUS OCC', 'TREA', 'TRESPASS', 'VANDALISM', 'VEHICLE THEFT',
       'WARRANTS', 'WEAPON LAWS'], dtype=object)

In [45]:
# These are all the modules we'll be using later. Make sure you can import them
# before proceeding further.
from __future__ import print_function
import numpy as np
import tensorflow as tf
from six.moves import cPickle as pickle

In [46]:
def accuracy(predictions, labels):
  return (100.0 * np.sum(np.argmax(predictions, 1) == np.argmax(labels, 1))
          / predictions.shape[0])

In [47]:
# prepare data for TensorFlow

num_var = num_variables   # 85
num_labels = num_Category # 39 categories

train_dataset = np.float32(np.array(traindata.drop(['Category'],axis=1)))
train_labels = traindata.loc[:,'Category']
train_labels= np.array(pd.get_dummies(train_labels.cat.rename_categories(np.arange(0,num_labels)) ))

valid_dataset = np.float32(np.array(validdata.drop(['Category'],axis=1)))
valid_labels = validdata.loc[:,'Category']
valid_labels= np.array(pd.get_dummies(valid_labels.cat.rename_categories(np.arange(0,num_labels)) ))

test_dataset = np.float32(np.array(df_t))
# test_labels = testdata.loc[:,'Category']
# test_labels= np.array(pd.get_dummies(test_labels.cat.rename_categories(np.arange(0,num_labels)) ))

print('Training set', train_dataset.shape, train_labels.shape)
print('Validation set', valid_dataset.shape, valid_labels.shape)
print('Test set', test_dataset.shape)
test_dataset

Training set (790184, 85) (790184, 39)
Validation set (87798, 85) (87798, 39)
Test set (884262, 85)

array([[ 0.        ,  0.        ,  0.        , ...,  0.04411765,
         0.07352941,  0.02941176],
       [ 0.        ,  0.        ,  0.        , ...,  0.0591133 ,
         0.07881773,  0.00985222],
       [ 0.        ,  0.        ,  0.        , ...,  0.18181819,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  1.        ,  0.        , ...,  0.05882353,
         0.05882353,  0.00840336],
       [ 0.        ,  1.        ,  0.        , ...,  0.07594936,
         0.03797468,  0.07594936],
       [ 0.        ,  1.        ,  0.        , ...,  0.02191235,
         0.05776893,  0.00199203]], dtype=float32)

In [48]:
num_labels

39

In [49]:
num_var

85

In [50]:
# Adding regularization to the 1 hidden layer network
graph1 = tf.Graph()
batch_size = 128

num_steps=13001 #6501

import datetime
startTime = datetime.datetime.now() 

def define_and_run_batch(beta):
    
    num_RELU = 1024
    
    with graph1.as_default():

      # Input data. For the training data, we use a placeholder that will be fed
      # at run time with a training minibatch.
      tf_train_dataset = tf.placeholder(tf.float32,
                                        shape=(batch_size, num_var)) # remplace batch_size par None
      tf_train_labels = tf.placeholder(tf.float32, shape=(batch_size, num_labels))
      tf_valid_dataset = tf.constant(valid_dataset)
    
      # in Kaggle competitions, we don't know the true labels of the test set
      tf_test_dataset = tf.constant(test_dataset)
  
      # Variables.
      weights_RELU = tf.Variable(
        tf.truncated_normal([num_var, num_RELU],stddev=0.1))
        
      # print(tf.shape(weights_RELU) )   
      #biases_RELU = tf.Variable(tf.zeros([num_RELU]))
      biases_RELU = tf.Variable(tf.random_normal([num_RELU],stddev=0.1))  
        
      weights_layer1 = tf.Variable(
        tf.truncated_normal([num_RELU, num_labels],stddev=0.1))
      #biases_layer1 = tf.Variable(tf.zeros([num_labels]))
      biases_layer1 = tf.Variable(tf.random_normal([num_labels],stddev=0.1))
  
      # Training computation.
      logits_RELU = tf.matmul(tf_train_dataset, weights_RELU) + biases_RELU
      RELU_vec = tf.nn.relu(logits_RELU)
      logits_layer = tf.matmul(RELU_vec, weights_layer1) + biases_layer1                  
      # loss = tf.reduce_mean(
      #        tf.nn.softmax_cross_entropy_with_logits(logits_layer, tf_train_labels))
      cross_entropy = tf.nn.softmax_cross_entropy_with_logits(logits_layer, tf_train_labels,name="cross_entropy")
      l2reg = tf.reduce_sum(tf.square(weights_RELU))+tf.reduce_sum(tf.square(weights_layer1))
      
      loss = tf.reduce_mean(cross_entropy+beta*l2reg)
      logloss = tf.reduce_mean(cross_entropy)
    
  # Optimizer.
      optimizer = tf.train.GradientDescentOptimizer(0.3).minimize(loss)
  
      # Predictions for the training, validation, and test data.
      train_prediction = tf.nn.softmax(logits_layer)
      
      valid_prediction = tf.nn.softmax(
        tf.matmul(tf.nn.relu((tf.matmul(tf_valid_dataset, weights_RELU) + biases_RELU)),weights_layer1)+biases_layer1)
        
      # in Kaggle competitions, we don't know the true labels of the test set     
      test_prediction =tf.nn.softmax(
        tf.matmul(tf.nn.relu((tf.matmul(tf_test_dataset, weights_RELU) + biases_RELU)),weights_layer1)+biases_layer1)
                         
    with tf.Session(graph=graph1) as session:
 
      tf.initialize_all_variables().run()
      print("Initialized")
      for step in range(num_steps):
        
        # Pick an offset within the training data, which has been randomized.
        # Note: we could use better randomization across epochs.
        offset = (step * batch_size) % (train_labels.shape[0] - batch_size)
        
        # Generate a minibatch. 
        batch_data = train_dataset[offset:(offset + batch_size), :]
        
        batch_labels = train_labels[offset:(offset + batch_size)]
        
        # Prepare a dictionary telling the session where to feed the minibatch.
        # The key of the dictionary is the placeholder node of the graph to be fed,
        # and the value is the numpy array to feed to it
        
        feed_dict = {tf_train_dataset : batch_data, tf_train_labels : batch_labels}
        
        #
        if (step==num_steps-1):
            _, l, predictions_train,predictions_test = session.run(
              [optimizer, logloss,train_prediction,test_prediction], feed_dict=feed_dict)
        else:
            _, l, predictions_train = session.run(
              [optimizer, logloss,train_prediction], feed_dict=feed_dict)
            
        if (step % 500 == 0):
          print("Minibatch loss at step %d: %f" % (step, l))
          print("Minibatch accuracy: %.1f%%" % accuracy(predictions_train, batch_labels))
          print("Validation accuracy: %.1f%%" % accuracy(
            valid_prediction.eval(), valid_labels))
      
      # test_acc = accuracy(test_prediction.eval(), test_labels)
      # print("Test accuracy: %.1f%%" % test_acc)

      print('loss=%s' % l)
        
    x = datetime.datetime.now() - startTime
    print(x)
    return(predictions_test)
    
    
RES=define_and_run_batch(0.0001)

Initialized
Minibatch loss at step 0: 4.234461
Minibatch accuracy: 2.3%
Validation accuracy: 19.8%
Minibatch loss at step 500: 2.675351
Minibatch accuracy: 27.3%
Validation accuracy: 25.6%
Minibatch loss at step 1000: 2.286304
Minibatch accuracy: 34.4%
Validation accuracy: 25.8%
Minibatch loss at step 1500: 2.420447
Minibatch accuracy: 23.4%
Validation accuracy: 27.2%
Minibatch loss at step 2000: 2.274884
Minibatch accuracy: 32.8%
Validation accuracy: 27.0%
Minibatch loss at step 2500: 2.350864
Minibatch accuracy: 26.6%
Validation accuracy: 27.2%
Minibatch loss at step 3000: 2.365882
Minibatch accuracy: 34.4%
Validation accuracy: 27.7%
Minibatch loss at step 3500: 2.292010
Minibatch accuracy: 30.5%
Validation accuracy: 27.6%
Minibatch loss at step 4000: 2.187369
Minibatch accuracy: 32.8%
Validation accuracy: 27.3%
Minibatch loss at step 4500: 2.365599
Minibatch accuracy: 32.8%
Validation accuracy: 27.3%
Minibatch loss at step 5000: 2.530380
Minibatch accuracy: 14.8%
Validation accuracy: 24.8%
Minibatch loss at step 5500: 2.594632
Minibatch accuracy: 24.2%
Validation accuracy: 23.2%
Minibatch loss at step 6000: 2.668971
Minibatch accuracy: 21.1%
Validation accuracy: 24.5%
Minibatch loss at step 6500: 2.318825
Minibatch accuracy: 30.5%
Validation accuracy: 27.0%
Minibatch loss at step 7000: 2.355614
Minibatch accuracy: 28.1%
Validation accuracy: 27.2%
Minibatch loss at step 7500: 2.236772
Minibatch accuracy: 32.8%
Validation accuracy: 27.6%
Minibatch loss at step 8000: 2.318729
Minibatch accuracy: 32.8%
Validation accuracy: 27.9%
Minibatch loss at step 8500: 2.323167
Minibatch accuracy: 32.8%
Validation accuracy: 28.1%
Minibatch loss at step 9000: 2.285161
Minibatch accuracy: 34.4%
Validation accuracy: 27.2%
Minibatch loss at step 9500: 2.449651
Minibatch accuracy: 28.9%
Validation accuracy: 28.2%
Minibatch loss at step 10000: 2.233623
Minibatch accuracy: 32.8%
Validation accuracy: 27.6%
Minibatch loss at step 10500: 2.561622
Minibatch accuracy: 29.7%
Validation accuracy: 27.7%
Minibatch loss at step 11000: 2.510277
Minibatch accuracy: 21.1%
Validation accuracy: 24.2%
Minibatch loss at step 11500: 2.640537
Minibatch accuracy: 18.0%
Validation accuracy: 23.9%
Minibatch loss at step 12000: 2.782292
Minibatch accuracy: 18.0%
Validation accuracy: 22.3%
Minibatch loss at step 12500: 2.091400
Minibatch accuracy: 41.4%
Validation accuracy: 26.5%
Minibatch loss at step 13000: 1.944422
Minibatch accuracy: 42.2%
Validation accuracy: 27.8%
loss=1.94442
0:02:00.867559

In [ ]:
# 4 layer network

graph1 = tf.Graph()
batch_size = 128

num_steps=39001 #6501

import datetime
startTime = datetime.datetime.now() 

def define_and_run_batch_4_layer():
    
    

    import math as math

    initial_learning_rate_value = 0.5
    beta1 = 0.001
    beta2 = 0.001
    beta3 = 0.001
    beta4 = 0.001
    beta5 = 0.001

    graph2 = tf.Graph()
    with graph2.as_default():

       # Input data. For the training data, we use a placeholder that will be fed
       # at run time with a training minibatch.
       tf_train_dataset = tf.placeholder(tf.float32, shape=(batch_size, num_var))
       tf_train_labels = tf.placeholder(tf.float32, shape=(batch_size, num_labels))
        
       tf_valid_dataset = tf.constant(valid_dataset)
       tf_test_dataset = tf.constant(test_dataset)    
    
       # learning rate decay
       global_step = tf.Variable(0)
       learning_rate = tf.train.exponential_decay(initial_learning_rate_value, global_step, 1, 0.9999)

       # Hidden layer 1
       h1_size = 2048  
       weights_h1 = tf.Variable(tf.truncated_normal([num_var, h1_size], stddev=math.sqrt(2.0/(num_var))))
       biases_h1 = tf.Variable(tf.zeros([h1_size]))
       h1 = tf.nn.relu(tf.matmul(tf_train_dataset, weights_h1) + biases_h1)

       # Hidden layer 2
       h2_size = 1024
       weights_h2 = tf.Variable(tf.truncated_normal([h1_size, h2_size], stddev=math.sqrt(2.0/h1_size)))
       biases_h2 = tf.Variable(tf.zeros([h2_size]))
       h2 = tf.nn.relu(tf.matmul(h1, weights_h2) + biases_h2)

       # Hidden layer 3
       h3_size = 512
       weights_h3 = tf.Variable(tf.truncated_normal([h2_size, h3_size], stddev=math.sqrt(2.0/h2_size)))
       biases_h3 = tf.Variable(tf.zeros([h3_size]))
       h3 = tf.nn.relu(tf.matmul(h2, weights_h3) + biases_h3)

       # Hidden layer 4
       h4_size = 256
       weights_h4 = tf.Variable(tf.truncated_normal([h3_size, h4_size], stddev=math.sqrt(2.0/h3_size)))
       biases_h4 = tf.Variable(tf.zeros([h4_size]))
       h4 = tf.nn.relu(tf.matmul(h3, weights_h4) + biases_h4)

       # Output layer
       weights_o = tf.Variable(tf.truncated_normal([h4_size, num_labels], stddev=math.sqrt(2.0/h4_size)))
       biases_o = tf.Variable(tf.zeros([num_labels]))
    
       # Training computation.
       logits = tf.matmul(h4, weights_o) + biases_o
       # loss = tf.reduce_mean(
       #     tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels)) + ((beta1 * tf.nn.l2_loss(weights_h1)) + (beta2 * tf.nn.l2_loss(weights_h2)) 
       #        + (beta3 * tf.nn.l2_loss(weights_h3)) + (beta4 * tf.nn.l2_loss(weights_h4)) + (beta5 * tf.nn.l2_loss(weights_o)))
       
       cross_entropy = tf.nn.softmax_cross_entropy_with_logits(logits, tf_train_labels,name="cross_entropy")
       logloss = tf.reduce_mean(cross_entropy)
    
       loss = logloss + ((beta1 * tf.nn.l2_loss(weights_h1)) + (beta2 * tf.nn.l2_loss(weights_h2)) + (beta3 * tf.nn.l2_loss(weights_h3)) 
                         + (beta4 * tf.nn.l2_loss(weights_h4)) + (beta5 * tf.nn.l2_loss(weights_o)))
       
    
       # Optimizer.
       optimizer = tf.train.GradientDescentOptimizer(learning_rate).minimize(loss, global_step=global_step)

       # Predictions for the training, validation, and test data.
       train_h1 = tf.nn.relu(tf.matmul(tf_train_dataset, weights_h1) + biases_h1)
       train_h2 = tf.nn.relu(tf.matmul(train_h1, weights_h2) + biases_h2)
       train_h3 = tf.nn.relu(tf.matmul(train_h2, weights_h3) + biases_h3)
       train_h4 = tf.nn.relu(tf.matmul(train_h3, weights_h4) + biases_h4)
       train_logits = tf.matmul(train_h4, weights_o) + biases_o
       train_prediction = tf.nn.softmax(train_logits)
  
       valid_h1 = tf.nn.relu(tf.matmul(tf_valid_dataset, weights_h1) + biases_h1)
       valid_h2 = tf.nn.relu(tf.matmul(valid_h1, weights_h2) + biases_h2)
       valid_h3 = tf.nn.relu(tf.matmul(valid_h2, weights_h3) + biases_h3)
       valid_h4 = tf.nn.relu(tf.matmul(valid_h3, weights_h4) + biases_h4)
       valid_logits = tf.matmul(valid_h4, weights_o) + biases_o
       valid_prediction = tf.nn.softmax(valid_logits)
    
       test_h1 = tf.nn.relu(tf.matmul(tf_test_dataset, weights_h1) + biases_h1)
       test_h2 = tf.nn.relu(tf.matmul(test_h1, weights_h2) + biases_h2)
       test_h3 = tf.nn.relu(tf.matmul(test_h2, weights_h3) + biases_h3)
       test_h4 = tf.nn.relu(tf.matmul(test_h3, weights_h4) + biases_h4)
       test_logits = tf.matmul(test_h4, weights_o) + biases_o
       test_prediction = tf.nn.softmax(test_logits)
  
        
   

# executing the graph     
        
        
    with tf.Session(graph=graph2) as session:
 
      tf.initialize_all_variables().run()
      print("Initialized")
      for step in range(num_steps):
        
        # Pick an offset within the training data, which has been randomized.
        # Note: we could use better randomization across epochs.
        offset = (step * batch_size) % (train_labels.shape[0] - batch_size)
        
        # Generate a minibatch. 
        batch_data = train_dataset[offset:(offset + batch_size), :]
        
        batch_labels = train_labels[offset:(offset + batch_size)]
        
        # Prepare a dictionary telling the session where to feed the minibatch.
        # The key of the dictionary is the placeholder node of the graph to be fed,
        # and the value is the numpy array to feed to it
        
        feed_dict = {tf_train_dataset : batch_data, tf_train_labels : batch_labels}
        
        #
        if (step==num_steps-1):
            _, l, predictions_train,predictions_test = session.run(
              [optimizer, logloss,train_prediction,test_prediction], feed_dict=feed_dict)
        else:
            _, l, predictions_train = session.run(
              [optimizer, logloss,train_prediction], feed_dict=feed_dict)
            
        if (step % 500 == 0):
          print("Minibatch loss at step %d: %f" % (step, l))
          print("Minibatch accuracy: %.1f%%" % accuracy(predictions_train, batch_labels))
          print("Validation accuracy: %.1f%%" % accuracy(
            valid_prediction.eval(), valid_labels))
      
      # test_acc = accuracy(test_prediction.eval(), test_labels)
      # print("Test accuracy: %.1f%%" % test_acc)

      print('loss=%s' % l)
        
    x = datetime.datetime.now() - startTime
    print(x)
    return(predictions_test)
    
    
RES=define_and_run_batch_4_layer()

In [51]:
RES.shape

(884262, 39)

In [ ]:
train_dataset = np.float32(np.array(traindata.drop(['Category'],axis=1)))
train_labels = traindata.loc[:,'Category']
train_labels=train_labels.cat.rename_categories(np.arange(0,num_labels))
train_labels
pd.get_dummies(train_labels).head()

In [ ]:
# use sklearn one-hot-encoder only if using sklearn functions
# http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

In [84]:
###### XGBOOST ######

import datetime
startTime = datetime.datetime.now() 

import xgboost as xgb
data_train   = np.array(traindata.drop('Category',axis=1))
labels_train = np.array(traindata['Category'].cat.codes)

data_valid   = np.array(validdata.drop('Category',axis=1))
labels_valid = np.array(validdata['Category'].cat.codes)

weights_train = np.ones(len(labels_train))
weights_valid  = np.ones(len(labels_valid ))

dtrain = xgb.DMatrix( data_train, label=labels_train,weight = weights_train)
dvalid  = xgb.DMatrix( data_valid , label=labels_valid ,weight = weights_valid )




param = {'bst:max_depth':10, 'bst:eta':0.4, # eta [default=0.3]
         #'min_child_weight':1,'gamma':0,'subsample':1,'colsample_bytree':1,'scale_pos_weight':0, # default
         'scale_pos_weight':0.5,
         'subsample':0.9,'colsample_bytree':0.9,
         'silent':1, 'objective':'multi:softprob' }


param['nthread'] = 4
param['eval_metric'] = 'mlogloss'
param['lambda'] = 1
param['num_class']=39

# evallist  = [(dvalid,'eval'),(dtrain,'train')] # if there is a validation set
evallist  = [(dtrain,'train')]                   # if there is no validation set

plst = param.items()
plst += [('eval_metric', 'ams@0')]

num_round = 25
bst = xgb.train( plst, dtrain, num_round, evallist )

bst.save_model('0001.model')

# dump model
bst.dump_model('dump.raw.txt')
# dump model with feature map
# bst.dump_model('dump.raw.txt','featmap.txt')

x = datetime.datetime.now() - startTime
print(x)

[0]	train-mlogloss:2.737466	train-ams@0:3067.531250
[1]	train-mlogloss:2.535314	train-ams@0:3067.573975
[2]	train-mlogloss:2.408618	train-ams@0:3067.580078
[3]	train-mlogloss:2.318473	train-ams@0:3067.533447
[4]	train-mlogloss:2.250350	train-ams@0:3067.533447
[5]	train-mlogloss:2.197618	train-ams@0:3067.533447
[6]	train-mlogloss:2.155809	train-ams@0:3067.533447
[7]	train-mlogloss:2.119330	train-ams@0:3067.533447
[8]	train-mlogloss:2.089972	train-ams@0:3067.533447
[9]	train-mlogloss:2.065197	train-ams@0:3067.533447
[10]	train-mlogloss:2.043927	train-ams@0:3067.533447
[11]	train-mlogloss:2.024944	train-ams@0:3067.533447
[12]	train-mlogloss:2.008727	train-ams@0:3067.533447
[13]	train-mlogloss:1.994673	train-ams@0:3067.533447
[14]	train-mlogloss:1.981226	train-ams@0:3067.533447
[15]	train-mlogloss:1.969735	train-ams@0:3067.533447
[16]	train-mlogloss:1.958915	train-ams@0:3067.533447
[17]	train-mlogloss:1.949019	train-ams@0:3067.533447
[18]	train-mlogloss:1.939474	train-ams@0:3067.533447
[19]	train-mlogloss:1.930494	train-ams@0:3067.533447
[20]	train-mlogloss:1.922217	train-ams@0:3067.533447
[21]	train-mlogloss:1.915092	train-ams@0:3067.533447
[22]	train-mlogloss:1.907637	train-ams@0:3067.533447
[23]	train-mlogloss:1.901189	train-ams@0:3067.533447
[24]	train-mlogloss:1.895749	train-ams@0:3067.533447

1:14:33.090656

In [ ]:
minidf['Category'].cat.codes

In [62]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
xgb.plot_importance(bst)
xgb.plot_tree(bst, num_trees=2)
#xgb.to_graphviz(bst, num_trees=2)

RuntimeError: failed to execute ['dot', '-Tpng'], make sure the Graphviz executables are on your systems' path

In [63]:
data_test   = np.array(df_t)

dtest = xgb.DMatrix( data_test)

In [64]:
predXGB = bst.predict(dtest)

In [74]:
df_submit=pd.read_csv('/Users/francois-guillaume.rideau/Documents/Kaggle/Kaggle-SF/sampleSubmission.csv',dtype=float)
df_submit.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [66]:
df_submit.shape
type(df_submit)

pandas.core.frame.DataFrame

In [75]:
for i in range (1,40): 
    df_submit[df_submit.columns[i]]=predXGB[:,i-1]
    # df_submit[df_submit.columns[i]]=RES[:,i-1]
df_submit['Id']=df_submit['Id'].astype(int)

In [76]:
df_submit.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0,0.000077,0.034464,0.000067,0.000067,0.000156,0.000081,0.000147,0.008993,0.002925,...,0.000067,0.000090,0.000092,0.018525,0.000067,0.000124,0.096215,0.017560,0.031125,0.004480
1,1,0.000064,0.080264,0.000058,0.000057,0.000639,0.000065,0.001538,0.008084,0.000108,...,0.000058,0.000071,0.000059,0.022896,0.000057,0.000091,0.006707,0.038505,0.032203,0.019809
2,2,0.000063,0.000358,0.000054,0.000054,0.266354,0.000085,0.000073,0.000128,0.000075,...,0.000054,0.000066,0.000063,0.031444,0.000054,0.000120,0.094300,0.237945,0.000071,0.000146
3,3,0.000830,0.234275,0.000119,0.000872,0.020430,0.005544,0.000185,0.071814,0.007823,...,0.000120,0.000898,0.000343,0.025316,0.000119,0.002604,0.092490,0.134170,0.030422,0.045001
4,4,0.000830,0.234275,0.000119,0.000872,0.020430,0.005544,0.000185,0.071814,0.007823,...,0.000120,0.000898,0.000343,0.025316,0.000119,0.002604,0.092490,0.134170,0.030422,0.045001

In [77]:
filename = '/Users/francois-guillaume.rideau/Documents/Kaggle/Kaggle-SF/submitXGB4.csv'
df_submit.to_csv(filename,index=False)

In [78]:
df_verify=pd.read_csv(filename,dtype=float)
df_verify.head()

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
0,0.0,0.000077,0.034464,0.000067,0.000067,0.000156,0.000081,0.000147,0.008993,0.002925,...,0.000067,0.000090,0.000092,0.018525,0.000067,0.000124,0.096215,0.017560,0.031125,0.004480
1,1.0,0.000064,0.080264,0.000058,0.000057,0.000639,0.000065,0.001538,0.008084,0.000108,...,0.000058,0.000071,0.000059,0.022896,0.000057,0.000091,0.006707,0.038505,0.032203,0.019809
2,2.0,0.000063,0.000358,0.000054,0.000054,0.266354,0.000085,0.000073,0.000128,0.000075,...,0.000054,0.000066,0.000063,0.031444,0.000054,0.000120,0.094300,0.237945,0.000071,0.000146
3,3.0,0.000830,0.234275,0.000119,0.000872,0.020430,0.005544,0.000185,0.071814,0.007823,...,0.000120,0.000898,0.000343,0.025316,0.000119,0.002604,0.092490,0.134170,0.030422,0.045001
4,4.0,0.000830,0.234275,0.000119,0.000872,0.020430,0.005544,0.000185,0.071814,0.007823,...,0.000120,0.000898,0.000343,0.025316,0.000119,0.002604,0.092490,0.134170,0.030422,0.045001

In [79]:
z=df_verify.describe()
z

,Id,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
count,884262.000000,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,...,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,8.842620e+05,884262.000000,8.842620e+05,8.842620e+05,8.842620e+05
mean,442130.500000,1.601162e-03,8.713619e-02,4.857020e-04,3.441105e-04,4.198015e-02,4.612236e-03,2.214207e-03,5.991131e-02,4.518944e-03,...,2.373871e-04,4.858673e-03,5.841857e-04,3.585573e-02,1.315835e-04,8.098309e-03,0.051615,6.232568e-02,4.746579e-02,9.324299e-03
std,255264.596205,1.257870e-02,7.319616e-02,5.118703e-03,2.680842e-03,6.219986e-02,1.943461e-02,1.556563e-02,9.531770e-02,1.410486e-02,...,3.367973e-03,1.388599e-02,5.402467e-03,4.310595e-02,7.675111e-04,2.283985e-02,0.064005,8.750548e-02,5.091794e-02,2.239887e-02
min,0.000000,3.424396e-07,8.200009e-07,3.115874e-07,3.105417e-07,3.428327e-07,5.792344e-07,5.278367e-07,4.850585e-07,7.105997e-07,...,3.119085e-07,3.590387e-07,3.260298e-07,6.053958e-07,3.103365e-07,6.635233e-07,0.000002,4.900508e-07,4.850099e-07,6.193405e-07
25%,221065.250000,1.198696e-04,4.092935e-02,1.061724e-04,1.048966e-04,1.331460e-03,1.699381e-04,1.477272e-04,5.866088e-03,2.281224e-04,...,1.045632e-04,1.355584e-04,1.143758e-04,1.241043e-02,1.019689e-04,2.447110e-04,0.016618,6.797095e-03,1.138075e-02,2.427107e-04
50%,442130.500000,1.494071e-04,7.492983e-02,1.317757e-04,1.298320e-04,2.474079e-02,2.593092e-04,1.940897e-04,2.895380e-02,3.806268e-04,...,1.289480e-04,2.546751e-04,1.440851e-04,2.808529e-02,1.264017e-04,1.180951e-03,0.036278,2.946101e-02,3.789832e-02,3.492078e-03
75%,663195.750000,4.140730e-04,1.133828e-01,1.542573e-04,1.513998e-04,5.546759e-02,3.182286e-03,4.992262e-04,6.774453e-02,4.022647e-03,...,1.475972e-04,4.958288e-03,1.749295e-04,4.626262e-02,1.423724e-04,8.531420e-03,0.064797,8.841898e-02,6.777099e-02,1.044431e-02
max,884261.000000,9.949496e-01,9.998534e-01,9.286835e-01,4.907814e-01,9.994804e-01,9.745566e-01,9.981428e-01,9.991078e-01,9.849785e-01,...,9.967709e-01,9.959391e-01,6.904154e-01,9.993386e-01,3.231650e-01,9.984671e-01,0.999983,9.998707e-01,9.997938e-01,9.984503e-01

In [80]:
# checking if the mean of predicted probabilities match with the distribution in the training set
zz=z.loc['mean',:].sort_values(ascending=False)
zz

Id                             442130.500000
LARCENY/THEFT                       0.202843
OTHER OFFENSES                      0.143756
NON-CRIMINAL                        0.106530
ASSAULT                             0.087136
VEHICLE THEFT                       0.062326
DRUG/NARCOTIC                       0.059911
VANDALISM                           0.051615
WARRANTS                            0.047466
BURGLARY                            0.041980
SUSPICIOUS OCC                      0.035856
MISSING PERSON                      0.029251
ROBBERY                             0.026186
FRAUD                               0.018886
FORGERY/COUNTERFEITING              0.011903
SECONDARY CODES                     0.011017
WEAPON LAWS                         0.009324
TRESPASS                            0.008098
PROSTITUTION                        0.007743
STOLEN PROPERTY                     0.004859
SEX OFFENSES FORCIBLE               0.004749
DISORDERLY CONDUCT                  0.004612
DRUNKENNESS                         0.004519
RECOVERED VEHICLE                   0.003570
KIDNAPPING                          0.002371
DRIVING UNDER THE INFLUENCE         0.002214
RUNAWAY                             0.002103
LIQUOR LAWS                         0.001950
ARSON                               0.001601
LOITERING                           0.001294
EMBEZZLEMENT                        0.001254
FAMILY OFFENSES                     0.000601
SUICIDE                             0.000584
BAD CHECKS                          0.000486
BRIBERY                             0.000344
EXTORTION                           0.000328
SEX OFFENSES NON FORCIBLE           0.000237
GAMBLING                            0.000230
PORNOGRAPHY/OBSCENE MAT             0.000136
TREA                                0.000132
Name: mean, dtype: float64

In [60]:
# distribution of Category in the training set
df_raw['Category'].value_counts()/877982

LARCENY/THEFT                  0.199207
OTHER OFFENSES                 0.143718
NON-CRIMINAL                   0.105132
ASSAULT                        0.087560
DRUG/NARCOTIC                  0.061472
VEHICLE THEFT                  0.061255
VANDALISM                      0.050941
WARRANTS                       0.048081
BURGLARY                       0.041863
SUSPICIOUS OCC                 0.035780
MISSING PERSON                 0.029601
ROBBERY                        0.026196
FRAUD                          0.018997
FORGERY/COUNTERFEITING         0.012083
SECONDARY CODES                0.011373
WEAPON LAWS                    0.009744
PROSTITUTION                   0.008524
TRESPASS                       0.008344
STOLEN PROPERTY                0.005171
SEX OFFENSES FORCIBLE          0.004998
DISORDERLY CONDUCT             0.004920
DRUNKENNESS                    0.004875
RECOVERED VEHICLE              0.003574
KIDNAPPING                     0.002666
DRIVING UNDER THE INFLUENCE    0.002583
RUNAWAY                        0.002216
LIQUOR LAWS                    0.002167
ARSON                          0.001723
LOITERING                      0.001395
EMBEZZLEMENT                   0.001328
SUICIDE                        0.000579
FAMILY OFFENSES                0.000559
BAD CHECKS                     0.000462
BRIBERY                        0.000329
EXTORTION                      0.000292
SEX OFFENSES NON FORCIBLE      0.000169
GAMBLING                       0.000166
PORNOGRAPHY/OBSCENE MAT        0.000025
TREA                           0.000007
dtype: float64

In [ ]:
predXGB_train = bst.predict(dtrain)

In [ ]:
predXGB_train=pd.DataFrame(predXGB_train)
predXGB_train

In [ ]:
predXGB_train.columns=df_raw['Category'].cat.categories

In [ ]:
z=predXGB_train.describe()

In [ ]:
z

In [ ]:
z.ix[1]

In [ ]:
df_raw['Voie']='Other'

In [ ]:
df_raw['Voie']=d

In [ ]:
df1=pd.DataFrame([[0,'CENTRAL'],[1,'TARAVAL'],[3,'CENTRAL'],[2,'BAYVIEW']])
df1.columns = ['Index','PdDistrict']
df1

In [ ]:
np.sqrt(880000*39)